{
  "configVersion": "1.0.0",
  "languageVersion": "1.0.0",
  "project": {
    "name": "sigil"
  },
  "files": {
    "include": [
      "**/*.sigil"
    ],
    "exclude": [
      ".git/**",
      ".deno/**",
      "node_modules/**",
      "build/**",
      "coverage/**",
      "examples/**"
    ]
  },
  "tools": {}
}
